name: Demo CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Entorno de despliegue"
        required: true
        default: "dev"

env:
  APP_NAME: mi-app

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      VERSION_OUTPUT: ${{ steps.set_version.outputs.VERSION_OUTPUT }}

    steps:
      - name: Calcular versión
        id: set_version
        run: |
          version="1.0.${{ github.run_number }}"

          # GITHUB_ENV: disponible en los siguientes steps del mismo job
          echo "VERSION_ENV=$version" >> $GITHUB_ENV

          # GITHUB_OUTPUT: output del step, usado por otros jobs
          echo "VERSION_OUTPUT=$version" >> $GITHUB_OUTPUT

      - name: Usar variable dentro del mismo job
        run: |
          echo "Building $APP_NAME version $VERSION_ENV"
          echo "Environment: ${{ github.event.inputs.environment }}"

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy
        run: |
          # No funciona $VERSION_ENV aquí, solo en build
          echo "Deploying version ${{ needs.build.outputs.VERSION_OUTPUT }}"
          echo "To environment: ${{ github.event.inputs.environment }}"
